body {
    max-width: 1024px;
    margin: auto;
}

.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 2rem;
}

#search {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;;
    display: block;
    padding: 10px;
    width: 200px;
}